_site
.DS_Store
.jekyll
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
package-lock.json

# Jekyll stuff
/_site/
_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache

# temp
*.zip

 
