<div class="container" style="background-color:#f6f8fa;">
  <div class="row">

    <div class="col-md-3">
      <ul>

        <li><a href="{{site.baseutl}}/about/">Hakkimda</a></li>

      </ul>
    </div>
    <div cclass="col-md-3">
      <ul>

        <li><a href="{{site.baseutl}}/contact/">İletişim</a></li>

      </ul>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div>
    <div  class="col-md-6">
      <a href="#">Kullanim kosullari</a>
      <a href="#">Gizlilik</a>
      <a href="#">Guvenlik</a>
    </div>
    <div  class="col-md-6">
      <p class="muted pull-right">© 2017 Atilla Tanrikulu.</p>
    </div>
  </div>
</div>
