<div class="container" style="background-color:#f6f8fa;">
  <div class="row">

    <div class="col-md-3">
      <ul>

        <li><a href="{{site.baseutl}}/about/">About</a></li>
   <li><p class="rss-subscribe"> <a href="{{ "/feed.xml" | relative_url }}">RSS</a></p></li>
      </ul>
    </div>
    <div cclass="col-md-3">
      <ul>

        <li><a href="{{site.baseutl}}/contact/">Contact</a></li>

      </ul>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div>
    <div  class="col-md-6">
      <a href="#">Terms of Use</a>
      <a href="#">Privacy Policy</a>
      <a href="#"></a>
    </div>
    <div  class="col-md-6">
      <p class="muted pull-right">© 2017 Atilla Tanrikulu.</p>
    </div>
  </div>
</div>
