<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
  <meta name="robots" content="index, follow">
  <meta name="copyright" content="Copyright {{ site.time | date: '%Y' }}, Atilla Tanrikulu" />
  <meta name="rating" content="General">
  <meta name="publisher" content="filehoo team">
  <meta name="revisit-after" content="1 Days">
  <meta name="distribution" content="global">
  {% seo %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/core.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/site.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/prism.css" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}">
  <script src="{{ "/assets/js/prism.js" | relative_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/7.1.0/mermaid.min.js" integrity="sha256-M3OC0Q6g4/+Q4j73OvnsnA+lMkdAE5KgupRHqTiPbnI=" crossorigin="anonymous"></script>
  <script>mermaid.initialize({startOnLoad: true});</script>
</head>
