<div class="jumbotron">
    <h2>Hoşgeldiniz</h2>
    <img class="img-responsive img-thumbnail"

    src="{{site.baseutl}}/assets/img/learning-story.png" />
    <p class="text-justify">Merhaba! Buradaki makaleler, genellikle iş hayatımda unutmak istemediğim bilgileri
    not alma isteğim sonucunda oluşmuştur.


  </p>
  <div class="alert alert-danger">
   <strong>Not!</strong> Blogtaki tüm makaleler taslaktır, imla hataların ve yazım yanlışları için kusura bakmayın,
        en yakın zamanda üzerinden geçip düzeltmeler yapacağım.
 </div>
    <p><a class="btn btn-success btn-default"

    href="#">Tüm Makaleler</a></p>
</div>
