<div class="jumbotron">
    <h2>Hoşgeldiniz</h2>
    <img class="img-responsive img-thumbnail"

    src="{{site.baseutl}}/assets/img/learning-story.png" />
    <p class="text-justify">
        I am an experienced software project manager and software architect living in Ankara/Türkiye. 
        I’m passionate about distributed scalable enterprise web-based applications and delivering great user experiences. 
        I have created some amazing enterprise level applications many people used and hopefully enjoyed.
    
 </p>
 
    <p><a class="btn btn-success btn-default"

    href="{{site.baseurl}}/OAuth-2-nedir/">Tüm Makaleler</a></p>
</div>
