<!-- Panel -->
<div class="panel panel-default" style="margin-bottom:0px;">
  <div class="panel-heading">
    <h4 class="panel-title">Makaleler</h4>
  </div>

</div>
<div class="list-group">
{% for article in site.articles %}

<a class="list-group-item" href="{{site.baseurl}}{{article.url}}">{{article.title}}</a>

{% endfor %}
</div>


<div class="panel panel-default" style="margin-bottom:0px;">
 <div class="panel-heading">
   <h4 class="panel-title">Yakında Hazırlanacak</h4>
 </div>
  <a class="list-group-item" href="#">Mac OS  bilgisayarda Wine kullanimi ve Wine icin tavsiye programlar.</a>
  <a class="list-group-item" href="#">Mac icin tavsiye programlar</a>
  <a class="list-group-item" href="#">Atom icin tavsiye pluginler</a>
  <a class="list-group-item" href="#">Chain of responsibility Design Pattern</a>
  <a class="list-group-item" href="#">Kurumsal yazilmlarda kullanilan Design Pattern'ler</a>
  <a class="list-group-item" href="#">Kurumsal yazilimlarda Cache kullanimi</a>
</div>
<div class="list-group">

<a class="list-group-item" href="#"></a>


</div>

<!--

<div class="panel panel-default" style="margin-bottom:0px;">
  <div class="panel-heading">
    <h4 class="panel-title">Kategoriler</h4>
  </div>

</div>
<div class="list-group">
{% for article in site.articles %}

<a class="list-group-item" href="{{site.baseurl}}{{article.url}}">{{article.title}}</a>

{% endfor %}
</div>
-->
