<!-- Panel -->
<div class="panel panel-default" style="margin-bottom:0px;">
  <div class="panel-heading">
    <h4 class="panel-title">Makaleler</h4>
  </div>

</div>
<div class="list-group">
{% for article in site.articles %}

<a class="list-group-item" href="{{site.baseurl}}{{article.url}}">{{article.title}}</a>

{% endfor %}
</div>


<!--
 
<div class="panel panel-default" style="margin-bottom:0px;">
  <div class="panel-heading">
    <h4 class="panel-title">Kategoriler</h4>
  </div>

</div>
<div class="list-group">
{% for article in site.articles %}

<a class="list-group-item" href="{{site.baseurl}}{{article.url}}">{{article.title}}</a>

{% endfor %}
</div>
-->
