<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"> Articles</h2>
    </div>

    <div class="panel-body" style="padding:0px;">
      {% assign articleList = site.articles | sort: 'sort_order'  %}

      {% for article in articleList %}

      <a class="list-group-item" href="{{site.baseurl}}{{article.url}}">{{article.title}}</a>

      {% endfor %}
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-9">
                <p></p>
            </div>
            <div class="col-xs-3">
                <a href="#"></a>
            </div>
        </div>
    </div>

</div>
