<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Bazı Makaleler</h2>
    </div>

    <div class="panel-body">
        This article describes the art of creating the responsive design
        layout which can render well on different device sizes.
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-9">
                <p>Put tags and view count</p>
            </div>
            <div class="col-xs-3">
                <a href="#">Read More..</a>
            </div>
        </div>
    </div>

</div>
