<div class="jumbotron" style="padding-left:40px;padding-right:40px;padding-top:10px;text-align:center;">
 <h3>  Merhaba!</h3>
    <img class="img-responsive img-circle" src="{{site.baseutl}}/assets/img/linkedin_profile_photo.jpg" />
    <ul class="nav navbar-nav">
        <li><a href="https://www.linkedin.com/in/atillatan" target="_blank"><i class="fa fa-linkedin-square fa-2x social"></i></a></li>
        <li><a href="https://twitter.com/atillatanrikulu" target="_blank"><i class="fa fa-twitter-square fa-2x social"></i></a></li>
        <li><a href="https://github.com/atillatan/" target="_blank"><i class="fa fa-github-square fa-2x social"></i></a></li>        
    </ul>
    <br>
    <p >
     Bu kişisel blog sitesindeki makaleler, genellikle iş hayatımda unutmak istemediğim bilgileri
      not alma isteğim sonucunda oluşmuştur.
   </p>
    <p><a class="btn btn-success btn-default"

    href="{{site.baseurl}}/OAuth-2-nedir/">Tüm Makaleler</a></p>
</div>
