<table class="table table-responsive table-striped table-condensed table-hover">
    <tbody>
        <tr class="success">
            <td>Class name</td>
            <td>Description</td>
        </tr>
        <tr>
            <td>table</td>
            <td>Define a table</td>
        </tr>
        <tr>
            <td>table-responsive</td>
            <td>Class to make a table responsive</td>
        </tr>
        <tr>
            <td>table-striped</td>
            <td>Make a table like as stripe</td>
        </tr>
        <tr>
            <td>table-hover</td>
            <td>Create hover effect</td>
        </tr>
    </tbody>
</table>
