<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="English learning notes" name="description" />
    <meta content="English notes" name="author" />
    <link href="{{site.baseurl}}/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" title="main" />
    <link href="{{site.baseurl}}/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.9.0/github-markdown.min.css">
    <link href="{{site.baseurl}}/favicon.ico" rel="shortcut icon" />
    <!-- <link href="{{site.baseurl}}/assets/css/style.scss" rel="stylesheet"/>-->
    <link href="{{site.baseurl}}/assets/css/core.css" rel="stylesheet"/>
    <link href="{{site.baseurl}}/assets/css/site.css" rel="stylesheet"/>
    <title>{% if page.title %}{{page.title}} . {% endif %} - English Notes</title>
    <base href="{{site.baseurl}}">
  </head>

  <body>
 
  </body>
</html>
