<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

  <body>
    <header class="container">
           {% include nav-top.html %}
    </header>
        <section class="container">
            <div class="row">
                <div class="col-md-9 content wrapper">
                   <article>
                    {% include jumbotron.html %}
                    {{content}}
                    {% include panel.html %}
                  </article>
                </div>
                <aside>
                <div class="col-md-3">
                    {% include profile.html %}
                </div>
              </aside>
            </div>
        </section>
        <br>
        <footer class="container">
            {% include footer.html %}
        </footer>
  {% include lib.html %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109069515-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109069515-1');
  </script>
  </body>
</html>
